@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
  --primary-color: #0c0a3e;
  --secondary-color: #7b1e7a;
  --accent1-color: #b33f62;
  --accent2-color: #f9564f;

  --heading-font: 'Noto Serif', serif;
  --paragraph-font: 'Noto Serif', serif;;

  --nav-background-color: #f3c677;
  --nav-link-color: #0c0a3e;
  --nav-hover-link-color: #b33f62;
  --nav-hover-background-color: #f9564f;


nav a{
    text-align: center;
}
#hero-msg h1 {
    position: absolute;
}
#hero-msg h2,
#hero-msg h3,
#hero-msg h4 {
    text-align: center;
	  color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: #ff0022;
    color: ;
    
}
body {
    background-color: #f9564f;
    color: aliceblue;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif

}
header { 
   display: grid;
   grid-template-columns: 150px auto;
   background-color: #7b1e7a;
   color: brown;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero p{
 Float: right;
}
.hero h1{
   position: absolute;
}
.article {
   background-color: #b33f62;
   position: absolute; 
}
.article img {
    float: right;
}
article p {
   float: ;
}

footer {
    background-color: #0c0a3e;
    color: aliceblue;
    font-size: 1.2rem;
    padding: ;
    margin-top: ;
    align-items: right;
}

