@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
  --primary-color: #ff0022;
  --secondary-color: #011627;
  --accent1-color: #41ead4;
  --accent2-color: #fdfffc;

  --heading-font: 'Noto Serif', serif;
  --paragraph-font: 'Noto Serif', serif;;

  --nav-background-color: #b91372;
  --nav-link-color: #011627;
  --nav-hover-link-color: #ff0022;
  --nav-hover-background-color: #b91372;


nav a{
    text-align: center;
}
#hero-msg h1,
#hero-msg h2,
#hero-msg h3,
#hero-msg h4 {
    text-align: center;
	  color: white;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: #ff0022;
    color: ;
    
}
body {
    background-color: #fdfffc;
    color: aliceblue;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif

}
header { 
   background-color: #011627;;
   color: ;
}

}

.msg {
    background-color: #011627;
    color: aliceblue;
    line-height: 1.5;
    padding: 35px;
	

}
.msg p {
    color: antiquewhite;
    font-family: 'Merriweather', serif;
    padding-bottom: 15px;
}
.msg h2 {
    color: antiquewhite;
}
footer {
    background-color: #41ead4;
    color: aliceblue;
    font-size: 1.2rem;
    padding: ;
    margin-top: ;
    align-items: center;
