
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
content {
  max-width: 1600px;
  margin: 0 auto;
}
:root {
  --font-family: 'Montserrat', sans-serif;
  --primary-color: #ff0022;
  --secondary-color: #011627;
  --accent1-color: #41ead4;
  --accent2-color: #fdfffc;
}


body {
  max-width: 840px;
  margin: 0 auto;
  background-color: #41ead4;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Noto Serif', serif;
  color: #ff0022;
  font-weight: 700;
}

p {
  font-family:'Noto Serif', serif;
  color: #555;
  line-height: 1.5;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
  color: #ff0022;
}

.social-media-link {
  text-decoration: none;
}

.social-media-link i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #011627;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
}



.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 1rem;
  background-color:#011627;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero article p {
  float: right;
  width: 50%;
}


.hero article {
  background-color: #011627;;
  opacity: 0.9;
}


.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}


header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #011627;
  color: #000;
}

logo {
  grid-column: 1;
}
navbar {
  grid-column: 2;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fdfffc;
  background-color: #ff0022;
}

#history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#history img#history-image {
  display: block;
  margin: 0 10px;
  width: 200%;
}

#history p {
  text-align: center;
  margin: 10px;
}









main img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


article img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  float: left;
}


#Adventure img {
  width: 100px;
  height: auto;
  margin: 10px;
  float: center;
}


figcaption {
  text-align: center;

}


.logo {
  width: 50px;
  height: auto;
}


footer nav img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}










* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fdfffc;
}

h1,
h2 {
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-top: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #011627;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fdfffc;
}









    .container {
      width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .cta-button {
      display: inline-block;
      background-color: #337ab7;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
    }
    
    .trip {
      margin-bottom: 30px;
    }
    
    .trip-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .trip-description {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .trip-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      align-items: center;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
    #background {
      background-color: #ff0022;
    }
    
    
    
    
    
    
    
    
    section.newsletter {
      text-align: center;
      margin-bottom: 50px;
    }
    
    section.newsletter h2 {
      margin-bottom: 20px;
    }
    
    section.newsletter form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    section.newsletter label {
      margin-right: 10px;
    }
    
    section.newsletter input[type="text"],
    section.newsletter input[type="email"] {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    section.newsletter button {
      padding: 10px 20px;
      background-color: #f44336;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    section.cta {
      text-align: center;
      margin-bottom: 50px;
    }
    
    section.cta h2 {
      margin-bottom: 20px;
    }
    
    section.cta a {
      color: #f44336;
    }
    
    section.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:
