@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
  --primary-color: #ff0022;
  --secondary-color: #011627;
  --accent1-color: #41ead4;
  --accent2-color: #fdfffc;

  --heading-font: 'Noto Serif', serif;
  --paragraph-font: 'Noto Serif', serif;;

  --nav-background-color: #b91372;
  --nav-link-color: #011627;
  --nav-hover-link-color: #ff0022;
  --nav-hover-background-color: #b91372;
}
body {
  max-width: 960px;
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family:'Noto Serif', serif;
  color:#ff0022;
}
header {
  padding: 20px;
  background-color: #41ead4;
}
p {
  padding: 25px;
}
nav {
  background-color: #b91372;
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: #ff0022;
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: #ff0022;
}

nav a:hover {
  color: #ff0022;
  background-color: #b91372;
}

