@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap')
root {
  --primary-color: #ff0022;
  --secondary-color: #011627;
  --accent1-color: #41ead4;
  --accent2-color: #fdfffc;

  --heading-font: '______', serif;
  --paragraph-font: '______', serif;

  --nav-background-color: #b91372;
  --nav-link-color: #011627;
  --nav-hover-link-color: #ff0022;
  --nav-hover-background-color: #b91372;
}
body {
  max-width: 960px;
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 25px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

