/* Class Selectors */

.box {
  margin: 1rem;
  padding: 1rem;
  background-color: #81AAE8;
  color: #000;
  border: 1px solid #ccc;
}

header, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}


h1 {
  border-bottom: 2px solid black;
}

 .grid {
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
 }
main img {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;

}


aside h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #B1DB97;
  color: #fff;
  padding: 0.5rem;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
main {
  max-width: 800px;
  grid-column: 2/3;
  margin: 1rem;
  
}
p {
  padding: 0;
}
aside img {
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  float: right;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .grid,
footer .grid {
  max-width: 840px;
  margin: 0 auto;
}


